@import 'tailwindcss';
@import 'tw-animate-css';
@import './variables.css';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

html {
  scroll-behavior: smooth;
}

@property --shadow-opacity {
  syntax: '<number>';
  inherits: false;
  initial-value: 0.2;
}

/* HeroCards background shadow */
.shadow {
  position: absolute;
  background-color: lab(from var(--primary) l a b / var(--shadow-opacity));
  border-radius: 24px;
  rotate: 35deg;
  z-index: -1;
  width: 260px;
  top: 200px;
  height: 400px;
  filter: blur(150px);
  will-change: transform;
  animation: shadow-slide infinite 4s linear alternate;
}

@keyframes shadow-slide {
  0% {
    --shadow-opacity: 0.2;
    right: 460px;
  }
  100% {
    --shadow-opacity: 0.8;
    right: 160px;
  }
}

@media (max-width: 768px) {
  .shadow {
    top: 70px;
    width: 100px;
    height: 350px;
    filter: blur(60px);
  }

  @keyframes shadow-slide {
    from {
      --shadow-opacity: 0.2;
      right: 280px;
    }
    to {
      --shadow-opacity: 0.3;
      right: 100px;
    }
  }
}

@media (max-width: 1024px) {
  .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      --shadow-opacity: 0.2;
      right: 460px;
    }
    to {
      --shadow-opacity: 0.5;
      right: 160px;
    }
  }
}

/* Accordion animations */
@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}
